@charset "utf-8";

@font-face {
    font-family: 'KimjungchulGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}




body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select * {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    color: #333;
    min-width: 1320px;

}


.header_wrap {
    background-color: #2125AF;
    height: 92px;
    margin: 0px auto;

}

.logo {
    text-align: center;
    padding-top: 20px;
}

.header_wrap2 {
    background-color: #0E004A;
    height: 45px;

}

.gnb {
    padding-right: 300px;
    float: right;
}

.gnb li {
    font-size: 12px;
    font-weight: bold;
    float: left;
    padding-top: 15px;
    margin-left: 40px;
    margin-right: 25px;
}

.banner {
    background-color: #1D77FF;
    height: 943px;
    overflow: hidden;
    position: relative;

}

.banner_wrap {

    background: url(../images/icon/bright.png)no-repeat center bottom;
    background-size: 40%;
    padding-bottom: 60px;


}

.heama {
    position: absolute;
    left: -150px;
    padding-top: 220px;
    padding-right: 20px;
    top: 0;
}

.fish {
    position: absolute;
    right: -150px;
    padding-top: 120px;
    padding-right: 80px;
    top: 0;


}




.banner p {
    color: #fff;
    font-size: 25px;
    text-align: center;
    font-weight: bold;


}

.banner h1 {
    color: #fff;
    font-size: 127px;
    text-align: center;
    padding-top: 270px;
    padding-bottom: 47px;
    font-family: 'LotteMartDream';



}

.goods {
    background-color: #1D77FF;
    height: 1214px;
    margin: 0px auto;
}

.goods_bg {

    background: url(../images/icon/wave.png)no-repeat center top;
    padding-bottom: 10px;
    background-size: 150%;

}

.logo_down {
    text-align: center;
    margin-top: 300px;
}

.goods_text {
    padding-top: 88px;
    font-size: 52px;
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: #000B70
}

.goodss {
    margin-top: 84px;
    margin-bottom: 107px;
}

.cup {
    background-color: #1D77FF;
    height: 1362px;
    margin: 0px auto;
}

.cup_inner {
    text-align: center;

}

#slide {
    height: 900px;
    overflow: hidden;
}

/* swiper */

#swiper_wrap {
    position: relative;
    width: 1320px;
    height: 800px;
    margin: 0 auto;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 85%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 55%;
    height: 100%;
    opacity: 1;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
    border: 3px solid #fff;
    box-sizing: border-box;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper_btn {
    width: 450px;
    height: 100px;
    bottom: 150px;
    left: 400px;
}

.swiper_bg {
    background-color: #1D77FF;

}

.box4 {
    color: #fff;
    text-align: center;
    font-family: 'LotteMartDream';
    font-style: normal;

}

.text1 {
    font-size: 20px;
    font-weight: bold;



}

.text2 {
    font-size: 38px;
    padding-top: 15px;
    font-weight: bold;
}

.text3 {
    font-size: 27px;
    padding-top: 20px;
    padding-bottom: 248px;
    font-weight: bold;
}

#footer_wrap {
    background-color: #000;

}

.footer {
    margin: 0px auto;
    width: 1100px;
    position: relative;
    color: #fff;
    padding: 20px;
    background: url(../images/logo/logo.png)no-repeat right 10px top 26px;
    background-size: 17%;


}

.footer_gnd li {
    margin-bottom: 10px;
    left: 30px;
    font-size: 16px;
    font-weight: bold;
    float: left;
    padding: 15px 30px 56px 0;

}

.footer_logo_two {
    position: absolute;
    right: 1px;
    top: 150px;


}

.footer_logo_two li {
    float: left;
    padding: 6px;
}

.footer_add {
    clear: both;
    font-size: 14px;

}

.you {
    margin-top: 3px;
}